<section class="container">
    <h1>Product components</h1>
  <h3>Rta</h3>
  <button class="btn-promise" (click)="callPromise()">Call Promise</button>
  <p class="rta">{{rta}}</p>
    <div class="my-grid">
       <test-product
        *ngFor="let product of products"
        [product]="product">
       </test-product>
    </div>
  <button [disabled]="status === 'loading'" id="product" (click)="getAllProducts()">
    <span *ngIf="status === 'init' || status === 'success'">Load more</span>
    <span *ngIf="status === 'loading'">Loading</span>
    <span *ngIf="status === 'error'">Error</span>
  </button>
</section>
