<header class="container">
  <h1>Angular Testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas blanditiis voluptatum cum officiis rem expedita, temporibus incidunt reprehenderit alias architecto id? Molestiae architecto facilis dolor sit, molestias perferendis excepturi.</p>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a routerLink="/person">People</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
      <li><a routerLink="/other">Other</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
